.alert.alert-danger{
    background-color: #ff4d4d !important;
}
.alert.alert-success{
    background-color: #47d147 !important;
}
.section.loginInfo{  padding-top: 0; }
.ui-form .input-group {
    border: 1px solid #d1d1d1;
     font-size: 16px; 
}
.ui-form .input-group input, .ui-form .input-group textarea {
  padding: 10px 30px;
	 color: #353535;
}
.ui-form .input-group input::-moz-placeholder, .ui-form .input-group textarea::-moz-placeholder {
  color:#3c3c3c;
  font-size: 16px;
}
h2.title-step{
    color: #353535;
    font-family: "Raleway";
    font-size: 40px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 10px;
    margin-top: 0;
}

/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/

section#carousel  {
    padding-top: 0;
    padding-bottom: 0;
}


#carousel .custom-caption {
  border-radius: 0;
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  left: 230px;
  margin: 20px;
  padding: 20px;
  position: absolute;
  top: 170px;
  z-index: 1111;
}
#carousel  .slide-title {
    color: #ffffff;
    display: table;
    font: 300 28px "Raleway",sans-serif,sans-serif;
    margin-bottom: 0;
    padding: 8px 25px;
    white-space: nowrap;
}
#carousel  .slide-text {
    background-color: rgba(54, 54, 54, 0.3);
    display: table;
    font-size: 18px;
    margin-bottom: 1px;
    padding: 4px 18px;
}
#carousel  .btn {
    border-radius: 26px;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    margin-top: 28px;
    padding: 7px 32px 12px;
}

#carousel .slide-title_second {
    background-color: #363636;
    color: #ffffff;
    display: table;
    font: 500 34px/30px "Raleway",sans-serif;
    margin-bottom: 8px;
    padding: 17px 25px;
}
body{
  font-family: 'Lato', sans-serif;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
} 
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
} 
.carousel-caption {
    text-shadow: 0 1px 4px rgba(0,0,0,.9);
  font-size:17px
}
.carousel-caption h3 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
}
  
    .item:nth-child(1) {
/*      background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/HZZKGVVJ6I.jpg');*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }

    .item:nth-child(2) {
/*      background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/D2ROMCUEIV.jpg');*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }

    .item:nth-child(3) {
/*      background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/PU9HHZB5QW.jpg');*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
    }

.carousel-control.right {
 background: none;
	bottom: 10px;
  left: initial;
  right: 70px;
  top: initial;
	 position: absolute;
	width: 40px;
  height: 40px;
	border: 2px solid #fff;
}

.carousel-control.left {
 background: none;
  bottom: 10px;
  height: auto;
  left: initial;
  position: absolute;
  right: 10px;
  top: initial;
  width: 40px;
  height: 40px;
	border: 2px solid #fff;
}
.carousel-control.right:hover, .carousel-control.left:hover  { background: #2986E2;}
@media (max-width:767px) {

#carousel .custom-caption {
  left: 0;
  top: 0;
	  font-size: 10px;
  margin: 6px;
  padding: 6px;
}
	#carousel .slide-title {
  font: 300 10px "Raleway",sans-serif,sans-serif;
		 padding: 4px 25px;
}
#carousel .slide-title_second {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 4px;
    padding: 0px 25px;
}
	#carousel .slide-text {
  font-size: 10px;
  padding: 2px 18px;
}
	#carousel .btn {
   font-size: 10px;
  line-height: 10px;
  margin-top: 2px;
  padding: 2px 13px 5px;
}
	.btn-plus {
  top: 5px;
	}}

